nav {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 5px;
  opacity: 0.95;
  z-index: 10;
}
nav.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 900;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
nav .brand {
  font-family: "Gayathri", sans-serif;
  font-weight: 700;
  color: #3498db;
  font-size: 1.4em;
  white-space: nowrap;
  padding: 10px;
  margin: 0;
}
nav .brand .showcase-item {
  width: 100%;
}
nav .brand .item1 {
  width: 100%;
  margin: 0;
  padding: 9em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background: linear-gradient(135deg, #74276c 0%, #c53364 100%);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}
nav .brand .item1 h1 {
  font-size: 5em;
  font-weight: 100;
}
nav .brand .item1 h2 {
  font-size: 1.5em;
  font-weight: 400;
}
nav .brand .item1 p {
  font-size: 1.5em;
  font-weight: 100;
}
nav .brand .item2 {
  background: #FFEEEE;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav .brand .item2 article {
  width: 50%;
  margin: 10% auto;
  padding: 20px 10px;
  text-rendering: optimizeLegibility;
  border-top: 1px solid #c0392b;
  border-bottom: 1px solid #c0392b;
  font-size: 6em;
  text-align: center;
}
nav .brand .item2 article .thin {
  font-weight: 100;
}
nav .brand .item2 article .bold {
  font-weight: 700;
}
nav .brand .item2 article .regular {
  font-weight: 400;
}
nav .brand .item3 {
  background: #ECE9E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav .brand .item3 article {
  width: 80%;
  height: 90%;
  margin: auto;
  padding-top: 20px;
  text-rendering: optimizeLegibility;
}
nav .brand .item3 article h1 {
  font-size: 2.4em;
  font-weight: 700;
  padding: 10px 20px 0;
  margin: 10px 20px 0 10px;
}
nav .brand .item3 article .author {
  color: #555;
  font-size: 1.2em;
  padding: 0 30px;
}
nav .brand .item3 article .blurb {
  background-color: #bdc3c7;
  border-left: 10px solid #7f8c8d;
}
nav .brand .item3 article .blurb p {
  font-size: 1.2em;
  font-weight: 100;
  padding: 20px;
  line-height: 1.4em;
  text-align: justify;
  color: #252425;
}
nav .brand .item3 article .main p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.2em;
  color: #252425;
  -moz-column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-gap: 2em;
}
nav .brand .item5 {
  background: #16222A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A, #3A6073);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A, #3A6073);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav .brand .item5 article {
  width: 60%;
  margin: auto;
  padding-top: 10%;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}
nav .brand .item5 article h1 {
  font-size: 2.4em;
  font-weight: 100;
  padding: 10px 20px 0;
  margin: 10px 20px 0 0;
}
nav .brand .item5 article p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.4em;
  color: #ffffff;
}
nav .brand .item5 article .lesson {
  font-size: 1.4em;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}
nav a {
  color: #3498db;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.4em;
}
nav a:hover {
  color: #2980b9;
}
nav .menubar {
  float: right;
}
nav .menubar a {
  font-family: "Gayathri", sans-serif;
  font-weight: 700;
  display: inline-block;
  color: #3498db;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  transition: 0.3s;
}
nav .menubar a .showcase-item {
  width: 100%;
}
nav .menubar a .item1 {
  width: 100%;
  margin: 0;
  padding: 9em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background: linear-gradient(135deg, #74276c 0%, #c53364 100%);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}
nav .menubar a .item1 h1 {
  font-size: 5em;
  font-weight: 100;
}
nav .menubar a .item1 h2 {
  font-size: 1.5em;
  font-weight: 400;
}
nav .menubar a .item1 p {
  font-size: 1.5em;
  font-weight: 100;
}
nav .menubar a .item2 {
  background: #FFEEEE;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav .menubar a .item2 article {
  width: 50%;
  margin: 10% auto;
  padding: 20px 10px;
  text-rendering: optimizeLegibility;
  border-top: 1px solid #c0392b;
  border-bottom: 1px solid #c0392b;
  font-size: 6em;
  text-align: center;
}
nav .menubar a .item2 article .thin {
  font-weight: 100;
}
nav .menubar a .item2 article .bold {
  font-weight: 700;
}
nav .menubar a .item2 article .regular {
  font-weight: 400;
}
nav .menubar a .item3 {
  background: #ECE9E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav .menubar a .item3 article {
  width: 80%;
  height: 90%;
  margin: auto;
  padding-top: 20px;
  text-rendering: optimizeLegibility;
}
nav .menubar a .item3 article h1 {
  font-size: 2.4em;
  font-weight: 700;
  padding: 10px 20px 0;
  margin: 10px 20px 0 10px;
}
nav .menubar a .item3 article .author {
  color: #555;
  font-size: 1.2em;
  padding: 0 30px;
}
nav .menubar a .item3 article .blurb {
  background-color: #bdc3c7;
  border-left: 10px solid #7f8c8d;
}
nav .menubar a .item3 article .blurb p {
  font-size: 1.2em;
  font-weight: 100;
  padding: 20px;
  line-height: 1.4em;
  text-align: justify;
  color: #252425;
}
nav .menubar a .item3 article .main p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.2em;
  color: #252425;
  -moz-column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-gap: 2em;
}
nav .menubar a .item5 {
  background: #16222A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A, #3A6073);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A, #3A6073);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
nav .menubar a .item5 article {
  width: 60%;
  margin: auto;
  padding-top: 10%;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}
nav .menubar a .item5 article h1 {
  font-size: 2.4em;
  font-weight: 100;
  padding: 10px 20px 0;
  margin: 10px 20px 0 0;
}
nav .menubar a .item5 article p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.4em;
  color: #ffffff;
}
nav .menubar a .item5 article .lesson {
  font-size: 1.4em;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}
nav .fontlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}
nav .fontlist li {
  float: left;
}
nav .menu-toggle {
  display: none;
  background-color: #fff;
  border: none;
  padding: 10px;
  color: #3498db;
  font-size: 1.2em;
}
.navbar-header {
  float: left;
}
@media (max-width: 1024px) {
  nav .menu-toggle {
    float: left;
    display: inline-block;
  }
  nav .menubar {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 64px;
  }
  nav .menubar.responsive {
    width: 50%;
    height: 0;
    opacity: 0.9;
  }
  nav .menubar.responsive li {
    float: none;
    display: inline;
  }
  nav .menubar.responsive li a {
    display: block;
    text-align: left;
    padding: 10px 30px;
  }
}
.rachana {
  font-family: "Rachana", serif;
}
.rachana h2 {
  font-size: 2em;
  color: #2980b9;
}
.rachana article {
  width: 80%;
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  margin: 10% auto;
}
.rachana article p {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #252425;
  text-align: justify;
}
@media (max-width: 48em) {
  .rachana article {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
.meera {
  font-family: "Meera", sans-serif;
  min-height: 60vh;
}
.meera h2 {
  font-size: 3em;
  color: #e74c3c;
  font-weight: normal;
}
.meera .item1 {
  width: 100%;
  text-align: left;
}
.meera .item2 {
  background: #457fca;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #457fca, #5691c8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #457fca, #5691c8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 90vh;
  width: 100%;
}
.meera .item2 p {
  color: #ffffff;
  text-shadow: 0 2px 3px #555;
  font-size: 4em;
  text-align: center;
  line-height: 1.5em;
}
.meera article {
  width: 80%;
  margin: 10% auto;
  -webkit-columns: 2 200px;
  -moz-columns: 2 200px;
  columns: 2 200px;
  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
  column-gap: 4em;
}
.meera article p {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #252425;
  text-align: justify;
}
@media (max-width: 48em) {
  .meera article {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .meera .item2 p {
    font-size: 3em;
  }
}
.chilanka {
  font-family: "chilanka", sans-serif;
}
.chilanka .showcase-item {
  width: 100%;
}
.chilanka h2 {
  font-size: 3em;
  color: #e74c3c;
}
.chilanka article {
  width: 60%;
  margin: 2em auto;
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  background: -webkit-gradient(linear, left top, left bottom, from(#81cbbc), color-stop(2%, #fcf59b));
  background: -moz-repeating-linear-gradient(top, #fcf59b, #fcf59b 38px, #81cbbc 40px);
  background: repeating-linear-gradient(top, #fcf59b, #fcf59b 38px, #81cbbc 40px);
  -webkit-background-size: 100% 40px;
}
.chilanka article p {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #252425;
  text-align: justify;
  padding: 20px 10%;
}
@media (max-width: 48em) {
  .chilanka article {
    width: 100%;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  .chilanka article p {
    padding: 20px 10px;
  }
}
.karumbi {
  font-family: "Karumbi", sans-serif;
}
.karumbi h2 {
  font-size: 3em;
  color: #e74c3c;
}
.karumbi .showcase-item {
  background: -moz-radial-gradient(50% 50%, farthest-side, #FF9D46, #F5EFC6);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#FF9D46), to(#F5EFC6));
  width: 100%;
}
.karumbi article {
  width: 80%;
  margin: auto;
}
.karumbi article p {
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.6);
  font-size: 2em;
  line-height: 1.2em;
  color: #252425;
  text-align: center;
}
.keraleeyam {
  font-family: "Keraleeyam", sans-serif;
}
.keraleeyam h1 {
  font-size: 4em;
  text-align: center;
  color: #ffffff;
}
.keraleeyam h2 {
  font-size: 4em;
  color: #ffffff;
  text-align: center;
}
.keraleeyam h3 {
  font-size: 3em;
  color: #ffffff;
  text-align: center;
}
.keraleeyam .item1 {
  background: #134E5E;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #134E5E, #71B280);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #134E5E, #71B280);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 90vh;
  width: 100%;
}
.keraleeyam .item2 {
  color: #ffffff;
  background: url("../images/Seed_germination.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #252425;
  min-height: 90vh;
  width: 100%;
}
@media (max-width: 48em) {
  .keraleeyam h1,
  .keraleeyam h2,
  .keraleeyam h3 {
    margin-left: 0;
    margin-right: 0;
  }
  .keraleeyam h1 {
    font-size: 3em;
  }
  .keraleeyam h2,
  .keraleeyam h3 {
    font-size: 2em;
  }
}
.uroob {
  font-family: "Uroob", sans-serif;
}
.uroob h1 {
  font-size: 4em;
  text-align: center;
  color: #ffffff;
}
.uroob h2 {
  font-size: 4em;
  color: #ffffff;
  text-align: center;
}
.uroob h3 {
  font-size: 3em;
  color: #ffffff;
  text-align: center;
}
.uroob .item1 {
  background: #136a8a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #136a8a, #267871);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #136a8a, #267871);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 90vh;
  width: 100%;
}
.uroob .item2 {
  background: #136a8a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #136a8a, #267871);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #136a8a, #267871);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  min-height: 90vh;
  width: 100%;
}
@media (max-width: 48em) {
  .keraleeyam h1,
  .keraleeyam h2,
  .keraleeyam h3 {
    margin-left: 0;
    margin-right: 0;
  }
  .keraleeyam h1 {
    font-size: 3em;
  }
  .keraleeyam h2,
  .keraleeyam h3 {
    font-size: 2em;
  }
}
.dyuthi {
  font-family: "Dyuthi", sans-serif;
}
.dyuthi .item1 {
  background: #3CA55C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3CA55C, #B5AC49);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3CA55C, #B5AC49);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 80vh;
  width: 100%;
}
.dyuthi .item1 h1 {
  font-size: 3em;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
}
.dyuthi .item1 p {
  text-align: center;
  font-size: 2em;
  color: #ffffff;
}
.dyuthi .item2 {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526, #414345);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526, #414345);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 80vh;
  width: 100%;
}
.dyuthi .item2 h1 {
  font-size: 3em;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
}
.dyuthi .item2 p {
  text-align: center;
  font-size: 2em;
  color: #ffffff;
}
@media (max-width: 48em) {
  .dyuthi h1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 3em;
  }
}
.suruma {
  font-family: "Suruma", sans-serif;
}
.suruma .item1 {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #232526, #414345);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #232526, #414345);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 80vh;
  width: 100%;
}
.suruma .item1 article {
  margin-top: 2em;
}
.suruma .item1 article p {
  padding-top: 2em;
  color: #ffffff;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.4em;
}
.anjali {
  font-family: "AnjaliOldLipi", serif;
}
.anjali .item1 {
  background: #2980b9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2980b9, #2c3e50);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2980b9, #2c3e50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  min-height: 90vh;
  width: 100%;
}
.anjali .item1 h2 {
  font-size: 2em;
  color: #ffffff;
  font-weight: normal;
  text-align: left;
}
.anjali .item1 h3 {
  font-size: 1.4em;
  color: #ffffff;
  font-weight: normal;
  text-align: left;
}
.anjali .item1 article {
  width: 80%;
  margin: 10% auto;
  -webkit-columns: 2 200px;
  -moz-columns: 2 200px;
  columns: 2 200px;
  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
  column-gap: 4em;
}
.anjali .item1 article p {
  color: #ffffff;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: left;
}
@media (max-width: 48em) {
  .anjali article {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
.manjari {
  font-family: "Manjari", sans-serif;
}
.manjari .showcase-item {
  width: 100%;
}
.manjari .item1 {
  width: 100%;
  margin: 0;
  padding: 9em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background: #43cea2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #43cea2, #185a9d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.manjari .item1 h1 {
  font-size: 5em;
  font-weight: 100;
}
.manjari .item1 h2 {
  font-size: 1.5em;
  font-weight: 400;
}
.manjari .item1 p {
  font-size: 1.5em;
  font-weight: 100;
}
.manjari .item2 {
  background: #FFEEEE;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.manjari .item2 article {
  width: 50%;
  margin: 10% auto;
  padding: 20px 10px;
  text-rendering: optimizeLegibility;
  border-top: 1px solid #c0392b;
  border-bottom: 1px solid #c0392b;
}
.manjari .item2 p {
  line-height: 1.4em;
  font-size: 1.1em;
  color: #252425;
  text-align: left;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.6);
}
.manjari .item3 {
  background: #EFEFBB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #EFEFBB, #D4D3DD);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #EFEFBB, #D4D3DD);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.manjari .item3 article {
  width: 80%;
  margin: 10% auto;
  padding: 20px 10px;
  text-rendering: optimizeLegibility;
  border-top: 1px solid #c0392b;
  border-bottom: 1px solid #c0392b;
}
.manjari .item3 p {
  line-height: 1.4em;
  font-size: 1em;
  color: #252425;
  text-align: justify;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.6);
}
.manjari .item4 div {
  text-align: center;
  background: url("../images/Manjari-Ka.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
  width: 90%;
  height: 90%;
}
.manjari .item5 {
  background: #ECE9E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.manjari .item5 article {
  width: 80%;
  margin: 40px;
  padding-top: 20px;
  text-rendering: optimizeLegibility;
}
.manjari .item5 article h1 {
  font-size: 2em;
  font-weight: 700;
  padding: 10px 20px 0;
  margin: 10px 20px 0 10px;
}
.manjari .item5 article .author {
  color: #555;
  font-size: 1em;
  padding: 0 30px;
}
.manjari .item5 article .blurb {
  background-color: #bdc3c7;
  border-left: 10px solid #7f8c8d;
}
.manjari .item5 article .blurb p {
  font-size: 1.2em;
  font-weight: 100;
  padding: 20px;
  line-height: 1.4em;
  text-align: justify;
  color: #252425;
}
.manjari .item5 article .main p {
  font-size: 1em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.2em;
  color: #252425;
  -moz-column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-gap: 2em;
}
.manjari .item6 {
  background: #16222A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A, #3A6073);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A, #3A6073);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.manjari .item6 article {
  width: 60%;
  margin: auto;
  padding-top: 10%;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}
.manjari .item6 article h1 {
  font-size: 2.4em;
  font-weight: 100;
  padding: 10px 20px 0;
  margin: 10px 20px 0 0;
}
.manjari .item6 article p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.4em;
  color: #ffffff;
}
.manjari .item6 article .lesson {
  font-size: 1.4em;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}
.manjari .item7 {
  background-image: url("../images/Manjari-Bold.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.manjari .item8 {
  background-image: url("../images/Manjari-Elephant.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.manjari .item9 {
  background-image: url("../images/Manjari-Vidya.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.manjari .item10 {
  background-image: url("../images/Manjari-Mirror.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.manjari .credits {
  color: #bdc3c7;
  font-size: 0.8em;
}
@media (max-width: 48em) {
  .manjari .item4 div {
    font-size: 50vh;
    text-align: center;
    color: #252425;
  }
  .manjari .item5 article .main p {
    column-count: 1;
  }
  .manjari .item6 article {
    width: 90%;
  }
}
.gayathri {
  font-family: "Gayathri", sans-serif;
}
.gayathri .showcase-item {
  width: 100%;
}
.gayathri .item1 {
  width: 100%;
  margin: 0;
  padding: 9em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background: linear-gradient(135deg, #74276c 0%, #c53364 100%);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.gayathri .item1 h1 {
  font-size: 5em;
  font-weight: 100;
}
.gayathri .item1 h2 {
  font-size: 1.5em;
  font-weight: 400;
}
.gayathri .item1 p {
  font-size: 1.5em;
  font-weight: 100;
}
.gayathri .item2 {
  background: #FFEEEE;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gayathri .item2 article {
  width: 50%;
  margin: 10% auto;
  padding: 20px 10px;
  text-rendering: optimizeLegibility;
  border-top: 1px solid #c0392b;
  border-bottom: 1px solid #c0392b;
  font-size: 6em;
  text-align: center;
}
.gayathri .item2 article .thin {
  font-weight: 100;
}
.gayathri .item2 article .bold {
  font-weight: 700;
}
.gayathri .item2 article .regular {
  font-weight: 400;
}
.gayathri .item3 {
  background: #ECE9E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gayathri .item3 article {
  width: 80%;
  height: 90%;
  margin: auto;
  padding-top: 20px;
  text-rendering: optimizeLegibility;
}
.gayathri .item3 article h1 {
  font-size: 2.4em;
  font-weight: 700;
  padding: 10px 20px 0;
  margin: 10px 20px 0 10px;
}
.gayathri .item3 article .author {
  color: #555;
  font-size: 1.2em;
  padding: 0 30px;
}
.gayathri .item3 article .blurb {
  background-color: #bdc3c7;
  border-left: 10px solid #7f8c8d;
}
.gayathri .item3 article .blurb p {
  font-size: 1.2em;
  font-weight: 100;
  padding: 20px;
  line-height: 1.4em;
  text-align: justify;
  color: #252425;
}
.gayathri .item3 article .main p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.2em;
  color: #252425;
  -moz-column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-gap: 2em;
}
.gayathri .item5 {
  background: #16222A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A, #3A6073);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A, #3A6073);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.gayathri .item5 article {
  width: 60%;
  margin: auto;
  padding-top: 10%;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}
.gayathri .item5 article h1 {
  font-size: 2.4em;
  font-weight: 100;
  padding: 10px 20px 0;
  margin: 10px 20px 0 0;
}
.gayathri .item5 article p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.4em;
  color: #ffffff;
}
.gayathri .item5 article .lesson {
  font-size: 1.4em;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 48em) {
  .manjari .item4 div {
    font-size: 50vh;
    text-align: center;
    color: #252425;
  }
  .manjari .item5 article .main p {
    column-count: 1;
  }
}
.raghumalayalam {
  font-family: "RaghuMalayalam", sans-serif;
}
.raghumalayalam .item1 {
  padding: 40px 20px;
  background: #FF512F;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FF512F, #DD2476);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FF512F, #DD2476);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 80vh;
  width: 100%;
}
.raghumalayalam .item1 h1 {
  font-size: 3em;
  text-align: center;
  color: #ffffff;
  font-weight: normal;
  margin: 0.4em 0;
}
.raghumalayalam .item1 p {
  color: #ffffff;
  width: 50%;
  margin: auto;
  text-align: center;
}
.raghumalayalam .item2 {
  width: 100%;
  margin: auto;
  padding: 40px 20px;
}
.raghumalayalam .item2 article {
  width: 80%;
  margin: auto;
  -webkit-columns: 3 200px;
  -moz-columns: 3 200px;
  columns: 3 200px;
  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
  column-gap: 4em;
}
.raghumalayalam .item2 article aside {
  color: #95a5a6;
}
.raghumalayalam .item2 article h1 {
  font-size: 2em;
  color: #e74c3c;
  margin: 0 1em;
}
.raghumalayalam .item2 article h2 {
  font-size: 1.4em;
  color: #e74c3c;
}
.raghumalayalam .item2 article p {
  font-size: 1em;
  line-height: 1.5em;
  color: #252425;
  text-align: justify;
}
@media (max-width: 48em) {
  .raghumalayalamsans .item1 h1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.8em;
  }
  .raghumalayalamsans .item2 article {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
.meera-inimai {
  font-family: "MeeraInimai", sans-serif;
}
.meera-inimai h2 {
  font-size: 3em;
  color: #e74c3c;
}
.meera-inimai .showcase-item {
  background: linear-gradient(135deg, #fbfbfc 0%, #f6f7f9 100%);
  width: 100%;
}
.meera-inimai article {
  width: 80%;
  margin: auto;
  padding: 4em;
}
.meera-inimai article p {
  font-size: 1.4em;
  line-height: 1.2em;
  color: #252425;
}
section {
  background-color: #e2e1e0;
  min-height: 50vh;
}
section .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  width: 80%;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: auto;
}
section::after,
section::before {
  content: '\00a0';
  display: block;
  height: 0;
  visibility: hidden;
}
section::before {
  margin-bottom: 1.5em;
}
section::after {
  margin-top: 1.5em;
}
section .header {
  opacity: 0.8;
  color: #252425;
  padding: 50px 20px;
  border-right: 1px solid rgba(160, 160, 160, 0.2);
  text-align: right;
  -webkit-flex: 2;
  -moz-flex: 2;
  -ms-flex: 2;
  flex: 2;
  font-family: "Gayathri", sans-serif;
}
section .header .showcase-item {
  width: 100%;
}
section .header .item1 {
  width: 100%;
  margin: 0;
  padding: 9em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background: linear-gradient(135deg, #74276c 0%, #c53364 100%);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}
section .header .item1 h1 {
  font-size: 5em;
  font-weight: 100;
}
section .header .item1 h2 {
  font-size: 1.5em;
  font-weight: 400;
}
section .header .item1 p {
  font-size: 1.5em;
  font-weight: 100;
}
section .header .item2 {
  background: #FFEEEE;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
section .header .item2 article {
  width: 50%;
  margin: 10% auto;
  padding: 20px 10px;
  text-rendering: optimizeLegibility;
  border-top: 1px solid #c0392b;
  border-bottom: 1px solid #c0392b;
  font-size: 6em;
  text-align: center;
}
section .header .item2 article .thin {
  font-weight: 100;
}
section .header .item2 article .bold {
  font-weight: 700;
}
section .header .item2 article .regular {
  font-weight: 400;
}
section .header .item3 {
  background: #ECE9E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
section .header .item3 article {
  width: 80%;
  height: 90%;
  margin: auto;
  padding-top: 20px;
  text-rendering: optimizeLegibility;
}
section .header .item3 article h1 {
  font-size: 2.4em;
  font-weight: 700;
  padding: 10px 20px 0;
  margin: 10px 20px 0 10px;
}
section .header .item3 article .author {
  color: #555;
  font-size: 1.2em;
  padding: 0 30px;
}
section .header .item3 article .blurb {
  background-color: #bdc3c7;
  border-left: 10px solid #7f8c8d;
}
section .header .item3 article .blurb p {
  font-size: 1.2em;
  font-weight: 100;
  padding: 20px;
  line-height: 1.4em;
  text-align: justify;
  color: #252425;
}
section .header .item3 article .main p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.2em;
  color: #252425;
  -moz-column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-gap: 2em;
}
section .header .item5 {
  background: #16222A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A, #3A6073);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A, #3A6073);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
section .header .item5 article {
  width: 60%;
  margin: auto;
  padding-top: 10%;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}
section .header .item5 article h1 {
  font-size: 2.4em;
  font-weight: 100;
  padding: 10px 20px 0;
  margin: 10px 20px 0 0;
}
section .header .item5 article p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.4em;
  color: #ffffff;
}
section .header .item5 article .lesson {
  font-size: 1.4em;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}
section .header .font-name {
  font-size: 2em;
  color: #e74c3c;
}
section .header .designer {
  color: #252425;
  font-size: 1.2em;
}
section .header div.download {
  padding: 10px;
  margin-top: 50px;
}
section .header .download-label {
  padding: 10px 0;
  color: #252425;
  font-size: 1.2em;
}
section .header a.download {
  margin-top: 10px;
  padding: 5px 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  border: 1px solid #c0392b;
  border-radius: 30px;
  background-color: #e74c3c;
  display: block;
  text-align: center;
  line-height: 30px;
  height: 24px;
}
section .showcase {
  -webkit-flex: 8;
  -moz-flex: 8;
  -ms-flex: 8;
  flex: 8;
}
section .showcase .showcase-item {
  min-height: 60vh;
  bottom: 0;
}
section .showcase .cycle-next,
section .showcase .cycle-prev {
  position: absolute;
  top: 0;
  width: 5%;
  opacity: 0.1;
  z-index: 800;
  height: 100%;
  cursor: pointer;
}
section .showcase .cycle-next:hover,
section .showcase .cycle-prev:hover {
  opacity: 0.5;
}
section .showcase .cycle-prev {
  left: 0;
  background-image: url("../images/left-arrow.svg");
  background-size: 48px;
  background-repeat: no-repeat;
  background-position: left center;
}
section .showcase .cycle-next {
  right: 0;
  background-image: url("../images/right-arrow.svg");
  background-size: 48px;
  background-repeat: no-repeat;
  background-position: left center;
}
a.anchor {
  display: block;
  position: relative;
  top: -65px;
  visibility: hidden;
}
.section-heading {
  text-align: center;
}
@media (max-width: 48em) {
  section .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    width: 100%;
  }
  section .header {
    text-align: center;
    min-height: 20vh;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  }
}
[contenteditable] {
  border-style: none;
}
[contenteditable]:focus {
  outline: none;
}
/*---FlexBox---
  @flex: flex, flex-inline
  --------------------------*/
/*---Flexbox Direction---
  @type: row, column
  Direction: normal, reverse
  --------------------------*/
/*---Flexbox Wrap---
  @wrap: wrap, nowrap, wrap-reverse
  --------------------------*/
/*---Flexbox Justify Content---
  @justify-content: start, end, center, space-between, space-around

  *FIXME* - Creates duplicate CSS
  --------------------------*/
/*---Flexbox Align Items---
  @align-items: center, baseline, stretch, start, end
  --------------------------*/
/*---Flexbox Align Content---
  @align-items: start, end, center, space-between, space-around

  *FIXME* - Creates duplicate CSS
  --------------------------*/
.anjali {
  font-family: "AnjaliOldLipi", serif;
}
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
}
.site {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  height: 100%;
}
.site-footer,
.site-header {
  -webkit-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
}
.site-content {
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 1.5em 1.5em 0;
  width: 100%;
}
.site-content::after {
  content: '\00a0';
  display: block;
  margin-top: 1.5em;
  height: 0;
  visibility: hidden;
}
@media (min-width: 768px) {
  .site-content {
    padding-top: 2em;
  }
  .site-content::after {
    margin-top: 2em;
  }
}
.site-content--full {
  padding: 0;
}
.site-content--full::after {
  content: none;
}
/* ----------             Header           ----------- */
header {
  padding: 3em 1.5em;
  text-align: center;
  min-height: 100vh;
  margin-top: -30px;
  border-bottom: 1px solid #f2f2f2;
  background-image: url("../images/curl-1.svg");
  background-position: left 0 top 100px;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
header .titles {
  background-image: url("../images/curl-3.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  padding: 120px;
}
header .header-title {
  font-family: "Gayathri", sans-serif;
  margin: 0 0 0.15em;
  font-size: 4em;
  font-weight: 700;
  line-height: 1;
  color: #2980b9;
}
header .header-title .showcase-item {
  width: 100%;
}
header .header-title .item1 {
  width: 100%;
  margin: 0;
  padding: 9em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background: linear-gradient(135deg, #74276c 0%, #c53364 100%);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}
header .header-title .item1 h1 {
  font-size: 5em;
  font-weight: 100;
}
header .header-title .item1 h2 {
  font-size: 1.5em;
  font-weight: 400;
}
header .header-title .item1 p {
  font-size: 1.5em;
  font-weight: 100;
}
header .header-title .item2 {
  background: #FFEEEE;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header .header-title .item2 article {
  width: 50%;
  margin: 10% auto;
  padding: 20px 10px;
  text-rendering: optimizeLegibility;
  border-top: 1px solid #c0392b;
  border-bottom: 1px solid #c0392b;
  font-size: 6em;
  text-align: center;
}
header .header-title .item2 article .thin {
  font-weight: 100;
}
header .header-title .item2 article .bold {
  font-weight: 700;
}
header .header-title .item2 article .regular {
  font-weight: 400;
}
header .header-title .item3 {
  background: #ECE9E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header .header-title .item3 article {
  width: 80%;
  height: 90%;
  margin: auto;
  padding-top: 20px;
  text-rendering: optimizeLegibility;
}
header .header-title .item3 article h1 {
  font-size: 2.4em;
  font-weight: 700;
  padding: 10px 20px 0;
  margin: 10px 20px 0 10px;
}
header .header-title .item3 article .author {
  color: #555;
  font-size: 1.2em;
  padding: 0 30px;
}
header .header-title .item3 article .blurb {
  background-color: #bdc3c7;
  border-left: 10px solid #7f8c8d;
}
header .header-title .item3 article .blurb p {
  font-size: 1.2em;
  font-weight: 100;
  padding: 20px;
  line-height: 1.4em;
  text-align: justify;
  color: #252425;
}
header .header-title .item3 article .main p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.2em;
  color: #252425;
  -moz-column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-gap: 2em;
}
header .header-title .item5 {
  background: #16222A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A, #3A6073);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A, #3A6073);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header .header-title .item5 article {
  width: 60%;
  margin: auto;
  padding-top: 10%;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}
header .header-title .item5 article h1 {
  font-size: 2.4em;
  font-weight: 100;
  padding: 10px 20px 0;
  margin: 10px 20px 0 0;
}
header .header-title .item5 article p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.4em;
  color: #ffffff;
}
header .header-title .item5 article .lesson {
  font-size: 1.4em;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}
header .header-subtitle {
  font-family: "Gayathri", sans-serif;
  margin: 0 0 0.15em;
  font-size: 2em;
  line-height: 1;
  margin: 0 0 1.5em;
  font-weight: 400;
  white-space: nowrap;
  color: #3498db;
}
header .header-subtitle .showcase-item {
  width: 100%;
}
header .header-subtitle .item1 {
  width: 100%;
  margin: 0;
  padding: 9em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background: linear-gradient(135deg, #74276c 0%, #c53364 100%);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}
header .header-subtitle .item1 h1 {
  font-size: 5em;
  font-weight: 100;
}
header .header-subtitle .item1 h2 {
  font-size: 1.5em;
  font-weight: 400;
}
header .header-subtitle .item1 p {
  font-size: 1.5em;
  font-weight: 100;
}
header .header-subtitle .item2 {
  background: #FFEEEE;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header .header-subtitle .item2 article {
  width: 50%;
  margin: 10% auto;
  padding: 20px 10px;
  text-rendering: optimizeLegibility;
  border-top: 1px solid #c0392b;
  border-bottom: 1px solid #c0392b;
  font-size: 6em;
  text-align: center;
}
header .header-subtitle .item2 article .thin {
  font-weight: 100;
}
header .header-subtitle .item2 article .bold {
  font-weight: 700;
}
header .header-subtitle .item2 article .regular {
  font-weight: 400;
}
header .header-subtitle .item3 {
  background: #ECE9E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header .header-subtitle .item3 article {
  width: 80%;
  height: 90%;
  margin: auto;
  padding-top: 20px;
  text-rendering: optimizeLegibility;
}
header .header-subtitle .item3 article h1 {
  font-size: 2.4em;
  font-weight: 700;
  padding: 10px 20px 0;
  margin: 10px 20px 0 10px;
}
header .header-subtitle .item3 article .author {
  color: #555;
  font-size: 1.2em;
  padding: 0 30px;
}
header .header-subtitle .item3 article .blurb {
  background-color: #bdc3c7;
  border-left: 10px solid #7f8c8d;
}
header .header-subtitle .item3 article .blurb p {
  font-size: 1.2em;
  font-weight: 100;
  padding: 20px;
  line-height: 1.4em;
  text-align: justify;
  color: #252425;
}
header .header-subtitle .item3 article .main p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.2em;
  color: #252425;
  -moz-column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-gap: 2em;
}
header .header-subtitle .item5 {
  background: #16222A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A, #3A6073);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A, #3A6073);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header .header-subtitle .item5 article {
  width: 60%;
  margin: auto;
  padding-top: 10%;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}
header .header-subtitle .item5 article h1 {
  font-size: 2.4em;
  font-weight: 100;
  padding: 10px 20px 0;
  margin: 10px 20px 0 0;
}
header .header-subtitle .item5 article p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.4em;
  color: #ffffff;
}
header .header-subtitle .item5 article .lesson {
  font-size: 1.4em;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}
header p {
  font-family: "Gayathri", sans-serif;
  font-size: 1.4em;
  color: #34495e;
}
header p .showcase-item {
  width: 100%;
}
header p .item1 {
  width: 100%;
  margin: 0;
  padding: 9em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background: linear-gradient(135deg, #74276c 0%, #c53364 100%);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}
header p .item1 h1 {
  font-size: 5em;
  font-weight: 100;
}
header p .item1 h2 {
  font-size: 1.5em;
  font-weight: 400;
}
header p .item1 p {
  font-size: 1.5em;
  font-weight: 100;
}
header p .item2 {
  background: #FFEEEE;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header p .item2 article {
  width: 50%;
  margin: 10% auto;
  padding: 20px 10px;
  text-rendering: optimizeLegibility;
  border-top: 1px solid #c0392b;
  border-bottom: 1px solid #c0392b;
  font-size: 6em;
  text-align: center;
}
header p .item2 article .thin {
  font-weight: 100;
}
header p .item2 article .bold {
  font-weight: 700;
}
header p .item2 article .regular {
  font-weight: 400;
}
header p .item3 {
  background: #ECE9E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header p .item3 article {
  width: 80%;
  height: 90%;
  margin: auto;
  padding-top: 20px;
  text-rendering: optimizeLegibility;
}
header p .item3 article h1 {
  font-size: 2.4em;
  font-weight: 700;
  padding: 10px 20px 0;
  margin: 10px 20px 0 10px;
}
header p .item3 article .author {
  color: #555;
  font-size: 1.2em;
  padding: 0 30px;
}
header p .item3 article .blurb {
  background-color: #bdc3c7;
  border-left: 10px solid #7f8c8d;
}
header p .item3 article .blurb p {
  font-size: 1.2em;
  font-weight: 100;
  padding: 20px;
  line-height: 1.4em;
  text-align: justify;
  color: #252425;
}
header p .item3 article .main p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.2em;
  color: #252425;
  -moz-column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-gap: 2em;
}
header p .item5 {
  background: #16222A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A, #3A6073);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A, #3A6073);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header p .item5 article {
  width: 60%;
  margin: auto;
  padding-top: 10%;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}
header p .item5 article h1 {
  font-size: 2.4em;
  font-weight: 100;
  padding: 10px 20px 0;
  margin: 10px 20px 0 0;
}
header p .item5 article p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.4em;
  color: #ffffff;
}
header p .item5 article .lesson {
  font-size: 1.4em;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}
header p a {
  color: #34495e;
  text-decoration: none;
}
header p a:hover {
  color: #2980b9;
}
header .links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
header .links a {
  font-family: "Gayathri", sans-serif;
  padding: 5px 10px;
  color: #34495e;
  text-decoration: none;
  font-size: 1.2em;
  border: 1px solid #2980b9;
  border-radius: 30px;
}
header .links a .showcase-item {
  width: 100%;
}
header .links a .item1 {
  width: 100%;
  margin: 0;
  padding: 9em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background: linear-gradient(135deg, #74276c 0%, #c53364 100%);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}
header .links a .item1 h1 {
  font-size: 5em;
  font-weight: 100;
}
header .links a .item1 h2 {
  font-size: 1.5em;
  font-weight: 400;
}
header .links a .item1 p {
  font-size: 1.5em;
  font-weight: 100;
}
header .links a .item2 {
  background: #FFEEEE;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header .links a .item2 article {
  width: 50%;
  margin: 10% auto;
  padding: 20px 10px;
  text-rendering: optimizeLegibility;
  border-top: 1px solid #c0392b;
  border-bottom: 1px solid #c0392b;
  font-size: 6em;
  text-align: center;
}
header .links a .item2 article .thin {
  font-weight: 100;
}
header .links a .item2 article .bold {
  font-weight: 700;
}
header .links a .item2 article .regular {
  font-weight: 400;
}
header .links a .item3 {
  background: #ECE9E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header .links a .item3 article {
  width: 80%;
  height: 90%;
  margin: auto;
  padding-top: 20px;
  text-rendering: optimizeLegibility;
}
header .links a .item3 article h1 {
  font-size: 2.4em;
  font-weight: 700;
  padding: 10px 20px 0;
  margin: 10px 20px 0 10px;
}
header .links a .item3 article .author {
  color: #555;
  font-size: 1.2em;
  padding: 0 30px;
}
header .links a .item3 article .blurb {
  background-color: #bdc3c7;
  border-left: 10px solid #7f8c8d;
}
header .links a .item3 article .blurb p {
  font-size: 1.2em;
  font-weight: 100;
  padding: 20px;
  line-height: 1.4em;
  text-align: justify;
  color: #252425;
}
header .links a .item3 article .main p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.2em;
  color: #252425;
  -moz-column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-gap: 2em;
}
header .links a .item5 {
  background: #16222A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A, #3A6073);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A, #3A6073);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header .links a .item5 article {
  width: 60%;
  margin: auto;
  padding-top: 10%;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}
header .links a .item5 article h1 {
  font-size: 2.4em;
  font-weight: 100;
  padding: 10px 20px 0;
  margin: 10px 20px 0 0;
}
header .links a .item5 article p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.4em;
  color: #ffffff;
}
header .links a .item5 article .lesson {
  font-size: 1.4em;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}
header .links a:hover {
  color: #2980b9;
}
@media (max-width: 48em) {
  header {
    background-image: none;
  }
  .titles {
    background-size: 75%;
  }
  .links {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
  }
}
.header-actions {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  font-size: 0.9em;
}
@media (min-width: 384px) {
  .header-actions {
    -ms-flex-align: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .header-actions {
    font-size: 1.1em;
  }
}
.header-button:first-child {
  margin: 0 0 1em;
}
.footer {
  font-family: "Gayathri", sans-serif;
  padding: 1.5rem;
  background: #404040;
  color: #eee;
  font-size: 1.4em;
  text-align: center;
  min-height: 50vh;
}
.footer .showcase-item {
  width: 100%;
}
.footer .item1 {
  width: 100%;
  margin: 0;
  padding: 9em 0;
  background-color: #4686a0;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed, fixed, fixed;
  background: linear-gradient(135deg, #74276c 0%, #c53364 100%);
  background-position: top left, center center, center center;
  background-size: auto, cover, cover;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.footer .item1 h1 {
  font-size: 5em;
  font-weight: 100;
}
.footer .item1 h2 {
  font-size: 1.5em;
  font-weight: 400;
}
.footer .item1 p {
  font-size: 1.5em;
  font-weight: 100;
}
.footer .item2 {
  background: #FFEEEE;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFEEEE, #DDEFBB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.footer .item2 article {
  width: 50%;
  margin: 10% auto;
  padding: 20px 10px;
  text-rendering: optimizeLegibility;
  border-top: 1px solid #c0392b;
  border-bottom: 1px solid #c0392b;
  font-size: 6em;
  text-align: center;
}
.footer .item2 article .thin {
  font-weight: 100;
}
.footer .item2 article .bold {
  font-weight: 700;
}
.footer .item2 article .regular {
  font-weight: 400;
}
.footer .item3 {
  background: #ECE9E6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #ECE9E6, #FFFFFF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.footer .item3 article {
  width: 80%;
  height: 90%;
  margin: auto;
  padding-top: 20px;
  text-rendering: optimizeLegibility;
}
.footer .item3 article h1 {
  font-size: 2.4em;
  font-weight: 700;
  padding: 10px 20px 0;
  margin: 10px 20px 0 10px;
}
.footer .item3 article .author {
  color: #555;
  font-size: 1.2em;
  padding: 0 30px;
}
.footer .item3 article .blurb {
  background-color: #bdc3c7;
  border-left: 10px solid #7f8c8d;
}
.footer .item3 article .blurb p {
  font-size: 1.2em;
  font-weight: 100;
  padding: 20px;
  line-height: 1.4em;
  text-align: justify;
  color: #252425;
}
.footer .item3 article .main p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.2em;
  color: #252425;
  -moz-column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-count: 2;
  -webkit-column-gap: 2em;
  column-count: 2;
  column-gap: 2em;
}
.footer .item5 {
  background: #16222A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A, #3A6073);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A, #3A6073);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.footer .item5 article {
  width: 60%;
  margin: auto;
  padding-top: 10%;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}
.footer .item5 article h1 {
  font-size: 2.4em;
  font-weight: 100;
  padding: 10px 20px 0;
  margin: 10px 20px 0 0;
}
.footer .item5 article p {
  font-size: 1.2em;
  font-weight: 400;
  padding: 20px;
  text-align: justify;
  line-height: 1.4em;
  color: #ffffff;
}
.footer .item5 article .lesson {
  font-size: 1.4em;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  display: inline-block;
  padding: 0 20px;
  font-size: 1em;
}
.footer a {
  padding-bottom: 1px;
  border: 0;
  color: #e5e5e5;
  text-decoration: none;
}
.footer a:hover {
  color: #fff;
  text-decoration: underline;
}
@media (min-width: 576px) {
  .footer-credit {
    display: inline-block;
    margin: 0 0.25em;
  }
  .footer-creditseparator {
    display: inline-block;
    padding: 0 0.25em;
  }
}
