// main: main.less
@import "flex.less";
@import "mixins.less";
@import "variables.less";

.meera-inimai {
	.meera-inimai;

	h2 {
		font-size: 3em;
		color: @alizarin;
	}

	.showcase-item {
		background:linear-gradient(135deg, #fbfbfc 0%,#f6f7f9 100%);
		width: 100%;
	}

	article {
		width: 80%;
		margin: auto;
		padding: 4em;
		p {
			font-size: 1.4em;
			line-height: 1.2em;
			color: @dark-gray;
		}
	}

}
